.container {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
}
/*When the screen width is less than or equal to 1000 pixels, the styles inside the media query will be applied.*/
@media (max-width: 999px) {
  .container {
    flex-direction: column;
    align-items: stretch; /*makes the flex items stretch to fill the full width of the container.*/
  }
}
.headerInfo {
  font-size: 29px;
}
/*mobile standard*/
.rightContainer {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "img info"
    "details details";
 grid-template-columns: 1fr 2.5fr; 
  grid-template-rows: min-content min-content; 
}
.btn2 a {
  margin-left: auto;
}
.drImg {
  grid-area: img;
  width: 100px;
  height: 100px;
}
.drDetails {
  grid-area: details;
  display: grid;
  /* gap: 8px; */
  border-top: 1px solid #d9d9d9;
  grid-template-areas:
    "jobs"
    "country"
    "lang"
    "button";
}
.drInfo {
  grid-area: info;
}
.drInfo h1 {
  font-size: 22px;
}

/* bigger than mobile taplet*/
@media (min-width: 600px) {
  .rightContainer {
    width: 100%;
    grid-template-areas:
      "img info"
      "img details";
  }
}
.jobs {
  grid-area: jobs;
}
.contry {
  grid-area: country;
}
.lang {
  grid-area: lang;
}
.btn2 {
  grid-area: button;
}
/* tab1*/
@media (min-width: 600px) {
  .drDetails {
    grid-template-areas: 
    "jobs country"
    "lang lang"
    "button button";
  } 
}
/* tab2*/
@media (min-width: 850px) {
  .drDetails {
    grid-template-areas:
      "jobs country"
      "lang button";
  }
  .btn2 {
    /* justify-self: center; */
    align-self: center;

 
 padding: 22px 90px !important;
  }
}
/*desktop*/
@media (min-width: 1000px) {
  .drDetails {
    grid-template-areas:
     "jobs"
     "country"
     "lang"
     "button"
  }
}
/* desktop*/
@media (min-width: 1000px) {
  .rightContainer {
    width: 30%;
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-areas:
      "img"
      "info"
      "details"
      ".";
  }
}

.rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.doctorProfile {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

.alpha {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.rev {
  font-size: 16px;
  color: #8a8a8f;
  display: block;
  line-height: 30px;
}

@media (min-width: 1001px) {
  .leftContainer {
    margin: 50px;
    width: 70%;
  }
}
.leftContainer {
  display: flex;
  flex-direction: column;
}
.card {
  direction: rtl;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(102, 118, 131, 0.15);
  padding: 30px 40px;
  margin-block: 10px;
}
.reviews {
  display: flex;
  flex-direction: column;
}

.contentCard {
  padding: 10px 0 0 20px;
  font-size: 17px;
  font-weight: 600;
}
.list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.btn {
  width: 100%;
  padding: 20px 50px;
  background-color: #3996dd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  border: none;
  letter-spacing: 0;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: white;


}
.btn:hover {
  background-color: #1151a1;
}
.btn:hover a {
  text-decoration: underline;
}
.btn2 {
  display: flex;
  justify-content: flex-start;
  height:50px;
  padding: 15px 20px;
  text-align: center ;
  background-image: url(../public//images/arrow.png);
  background-repeat: no-repeat;
  background-position: center left 15px;
  background-size: 25px;
}
