.navMenu {
  background: #fff;
  height: 100%;
}
.navInfo {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 150;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: flex-start;
}
.btn {
  margin-inline-start: auto;
  display: none;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  margin: 0;
  padding-inline: 1rem;
}
.navList li {
  width: auto;
}
.Navbar_btn__2_IOi {
  margin-inline-start: auto !important;
}
/*****************search input******************/
.search {
  flex-grow: 1;
  position: relative;
}
.search input {
  border: none;
  border: 1px solid #eaeaea !important;
  color: #303030 !important;
  background-color: transparent !important;
  padding: 10px 60px 10px 45px;
  flex-grow: 1;
  width: 100%;
  height: 3.1rem;
  font-size: 16px !important;
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 1rem;
}
.link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
.image {
  height: 30px;
}

.login {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.login:hover {
  background-color: #f7f7f7;
}

.signup {
  background-color: #3996dd;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.signup:hover {
  background-color: #258ad7;
}
.signup a {
  color: white;
}

/*******button Language********/
.langBtn {
  display: flex;
  align-items: center;
  border: none;
  border-right: 1px solid #eaeaea !important;
  background-color: transparent;
}
.language .langBtn {
  display: none;
}

.langbtn2 {
  border: none !important;
  padding-left: 0;
}
.lang {
  font-size: 17px;
}
.svg {
  margin-right: 10px;
}

/*****dropDown of menu Language*****/
.dropdownMenu {
  position: fixed;
  top: 3.1rem;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 29px 41px 15px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  transition: all 300ms ease;
  border-bottom: 1px solid #e5e5e4;
}
.dropdownMenu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.menuList {
 flex-basis: 50%;
  padding-block: 10px; padding-block: 20px 30px;
  display: flex;
  flex: 1;
  width: 600px;
}
.menuList li {
  
}

.dropdownMenu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.dropdownMenu li a:hover {
  color: #258ad7;
}
.rtlDirection {
  direction: rtl;
}
.ltrDirection {
  direction: ltr;
}
/************dropDown of  menuHumberger********/
.dropDownmenuHumberger {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  top: 3.1rem;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px 74px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  transition: all 300ms ease;
}

.dropDownmenuHumberger.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.moreH {
  background-color: transparent;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border: none;
}
.moreH:hover {
  text-decoration: underline;
}
.companyH2 {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 4px;
  font-size: 18px;
}
.company ul,
.more ul {
  display: none;
}
.activeCompany ul,
.activeMore ul {
  display: grid;
  flex-basis: 50%;
  grid-template-columns: 300px 300px;
}
.activeCompany ul li,
.activeMore ul li {
  padding: 10px;
}
.activeCompany ul li a,
.activeMore ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.activeCompany ul li a:hover,
.activeMore ul li a:hover {
  color: #258ad7;
}

.activeCompany h2:hover,
.activeMore h2:hover {
  text-decoration: underline;
}
.activeCompany ul li:hover,
.activeMore ul li:hover {
  background-color: #fafafa;
}
.selectLanguageMobile {
  display: flex;
  justify-content: space-between;
  /* padding-right: 30px; */
}
.childThree {
  margin-top: auto;
}
.childThree ul {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.childThree ul li {
  width: 100%;
}

.menuHumberger {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e5e5e4;
  border-bottom: 1px solid #e5e5e4;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
}

.socialMedia a {
  padding: 0 8px;
}
.companyMoreDesktop {
  display: none;
}

/***************medicalLicense******************/
.medicalLicense a {
  background-color: #3996dd;
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding-top: 50px;
  font-weight: 500 !important;
}
.medicalLicense a:hover {
  text-decoration: underline;
}

/* tab1*/
@media (min-width: 770px) {
  .language {
    display: inline-block;
  }
  .language .langBtn {
    display: flex;
    padding: 11px;
  }
  .companyMoreMobile {
    display: none;
  }
  .companyMoreDesktop {
    display: flex;
    padding-block: 20px 60px;
  }
  .companyMoreDesktop > * {
    width: 100%;
  }

  .more ul,
  .company ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .dropDownmenuHumberger {
    padding: 0px 50px 15px;
    height: 70%;
  }
  .company ul li,
  .more ul li {
    padding: 10px;
  }
  .company ul li a,
  .more ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  .company ul li a:hover,
  .more ul li a:hover {
    color: #258ad7;
  }
  .company ul li:hover,
  .more ul li:hover {
    background-color: #fafafa;
  }
  .selectLanguageMobile {
    display: none;
  }

  .menuItem li {
    width: auto;
    display: inline-block;
  }
}
/* tab2*/
@media (min-width: 1025px) {
  .language {
    display: inline-block;
  }
  .btn {
    display: flex;
    width: auto;
    /* padding:100px 5px; */
  }
  .btn li {
    border-radius: 5px;
    padding: 4px 25px;
    margin: 5px;
  }
  .dropDownmenuHumberger {
    padding: 40px 70px 20px;
    height: 50%;
  }
  .dropdownMenu {
    padding: 60px 126px 15px;
  }
  .menuList {
    padding-block: 20px 60px;
  }

  .childThree {
    display: none;
  }
  .footer {
    margin-bottom: 0px;
  }
  .selectLanguageMobile {
    display: none;
  }
  .companyH2 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
/*desktop*/
@media (min-width: 1280px) {
  .dropDownmenuHumberger {
    padding: 40px 170px 20px;
  }
}
